/* formCreate.module.css */

.Card {
  height: auto;
  width: 900px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  flex-direction: column;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nombre,
.breedFor,
.weightMin,
.weightMax,
.heightMin,
.heightMax,
.lifeSpanMin,
.lifeSpanMax,
.temperamento,
.imagen {
  /* padding: 10px; */
  font-size: 16px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.temperamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  border: none;
}

.option {
  display: flex;
  gap: 11px;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-end;
  border: none;
  outline: none;
}

.weight {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  border: none;
  width: 100%;
  outline: none;
}
.height {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  border: none;
  width: 100%;
  outline: none;
}
.lifeSpan {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  border: none;
  width: 100%;
  outline: none;
}
.temp {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  flex-direction: column;
  width: 427px;
  border: none;
  outline: none;
}
.nameBreed {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  border: none;
  outline: none;
}

.bg {
  background-color: #f7f5f5;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.submitButton {
  background-color: #000000;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #ee6484;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s ease-in-out;
}

.goBack {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out;
}

.goBack:hover {
  background-color: #ee6484;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s ease-in-out;
}

.sonrisa {
  width: auto;
  height: 244px;
}

.previewImage {
  max-width: 100%;
  max-height: 200px; /* Puedes ajustar la altura según tus necesidades */
  margin-top: 10px;
}

.error {
  font-size: 12px;
  margin: 0;
  color: #ee6484;
}
