.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 60px;
  background-color: rgba(210, 120, 120, 0.613);
}

.img {
  height: 60px;
  position: relative;
  left: -630px;
}
